<app-palindromos></app-palindromos>
<div class="calc">
  <div class="pantalla">
    <p class="valor" >{{num1|| 0}}</p>
  </div>
  <div class="parent">
    <button class="div1 boton" (click)="click('1')"> 1 </button>
    <button class="div2 boton" (click)="click('2')"> 2</button>
    <button class="div3 boton" (click)="click('3')"> 3</button>
    <button class="div4 boton" (click)="click('4')"> 4</button>
    <button class="div5 boton" (click)="click('5')"> 5</button>
    <button class="div6 boton" (click)="click('6')"> 6</button>
    <button class="div7 boton" (click)="click('7')"> 7</button>
    <button class="div8 boton" (click)="click('8')"> 8</button>
    <button class="div9 boton" (click)="click('9')"> 9</button>
    <button class="div10 boton" (click)="click('0')"> 0</button>
    <button class="div11 boton" (click)="click('.')"> .</button>
    <button class="div12 boton" (click)="ejecuta('=')">  =</button>
    <button class="div13 boton" (click)="ejecuta('+')">  +</button>
    <button class="div14 boton" (click)="ejecuta('-')"> -</button>
    <button class="div15 boton" (click)="ejecuta('*')"> x</button>
    <button class="div16 boton" (click)="ejecuta('/')"> /</button>
    <button class="div17 boton" (click)="ejecuta('back')">   <i class="material-icons">backspace</i>
    </button>
    <button class="div18 boton" (click)="ejecuta('AC')" (dblclick)="clear()"> AC</button>

    </div>
    <!-- <p class="valor" >{{num1|| 0 }} {{op}} {{num2|| 0}}</p> -->


</div>
<app-potencia></app-potencia>
